################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/BankAccount/BankAccountUnitTests/obj
/BankAccount/BankAccountUnitTests/bin/Debug/netcoreapp3.1
/BankAccount/BankAccount/obj
/BankAccount/BankAccount/bin/Debug/netcoreapp3.1
/BankAccount/.vs/BankAccount/v16/TestStore/0
